
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Account_Layout.cshtml";
}

    <main class="">
        <br />
        <h2>Панель управления администратора</h2>
        <hr />
        <br />
        <a class="btn btn-primary" href="/Admin/ListUsers">Управление пользователями</a>
        <br />
        <a class="btn btn-success mt-3" href="/Admin/Register">Добавить нового пользователя </a>
        <br />
        <br />
    </main>