@model IEnumerable<ITUE.Models.Issue>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="container">
    <nav class="mt-3" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home/Index">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Архив номеров</li>
        </ol>
    </nav>

    <h3>Выпуски журнала</h3>
    @foreach (var item in Model.GroupBy(m => m.Year))
    {
        <table class="table table-hover table-bordered">
            <thead class="table-primary">
                <tr>
                    <th>
                        <p>@item.Key Год</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in item)
                {
                    <tr><td><a href="/Issue/Issue/@a.Id"> @item.Key. - № @a.Number </a></td></tr>
                }
            </tbody>
        </table>
    }
</main>