@model IEnumerable<ITUE.Models.ApplicationUser>

@{
    ViewBag.Title = "ChangeStatus";
    Layout = "~/Views/Shared/_Account_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="form-group mt-4">
        <h5 for="roles" class="col-md-4">Рецензенты</h5>
        <div class="col-md-10">
            <select class="custom-select" id="UserId" name="UserId">
                <option value="0">Выберите рецензента...</option>
                @foreach (var item in Model)
                {
                    foreach (var role in item.Roles)
                    {
                        if (role.RoleId == "4")
                        {
                            <option value=@item.Id>@item.UserName </option>
                        }
                    }
                }
            </select>
        </div>
    </div>
    <br />
    <a class="btn btn-danger" href="/MainEditor/SentMaterials">Отменить действие</a>
    <input class="btn btn-success" type="submit" value="Применить" />
}