@{
    ViewBag.Title = "О журнале";
}

<main class="container">

    <h3 class="mt-4">Журнал «Информационные технологии в управлении и экономике»</h3>
    <p>
        ISSN 2225-2819
        Журнал создан для публикации научно-исследовательских работ,
        открывающих пути развития стратегических информационных технологий,
        включая вопросы создания суперкомпьютеров и разработки программного обеспечения.
    </p>

    <h4> Целью журнала </h4>
    <p>
        является освещение вопросов глобального влияния процессов информатизации
        на экономику и социальные процессы России и мира.
        Журнал призван освещать инновационные проекты в сфере информационных технологий,
        и позиционируется как площадка для обсуждения возможностей их внедрения и коммерциализации.
    </p>

    <h4> Целевая аудитория и задачи журнала </h4>
    <p>
        Издание рассчитано на учёных, аспирантов, преподавателей, предпринимателей, менеджеров и других читателей,
        интересующихся разработками в области информатизации и управления.
        <ol>
            <li>
                Научное сообщество: учёные, преподаватели, аспиранты, студенты — помощь в освещении результатов
                прикладных исследований в областях системного анализа, информатизации и экономики.
            </li>
            <li>
                Руководящий состав крупного, среднего, малого бизнеса — осуществление интеграции бизнеса и
                науки – помощь в поиске новых идей и решений.
            </li>
            <li>
                Молодые новаторы — помощь в оценке коммерциализуемости опубликованных результатов,
                поиске заинтересованных лиц и инвесторов для наиболее интересных проектов.
            </li>
        </ol>
    </p>

    <h4> Рубрики журнала </h4>
    <hr />
    <h5>ГРНТИ</h5>
    <p>
        06.00.00 — Экономические науки <br /> 20.00.00 — Информатика <br /> 28.00.00 — Кибернетика
    </p>

    <h5>ВАК</h5>
    <p>
        05.11.00 – Приборостроение, метрология и информационно-измерительные приборы и системы <br />
        05.13.00 – Информатика, вычислительная техника и управление <br />
        05.25.00 – Документальная информация <br />
        08.00.00 – Экономические науки
    </p>
    <hr />
    <em>
        Электронный научный журнал «Информационные технологии в управлении и экономике /
        Information technology in management and economics» зарегистрирован как средство массовой информации
        в Роскомнадзоре 01.04.2016 — Свидетельство Эл № ФС77-65216.
    </em>

</main>