@{
    ViewBag.Title = "Для авторов";
}

    <main class="container">

        <h3 class="mt-4">Правила оформления рукописей, направляемых в редакцию</h3>
        <hr />
        @*<h4>Образец оформления статей</h4>*@

        <h4><a href="/Home/GetFile">Образец оформления статей</a></h4>

        <br />
        <h4> Общие положения </h4>
        <p>
            Журнал является электронным, печатная версия не издаётся.
            Журнал публикует оригинальные статьи по проблемам научных исследований и научно-технических разработок
            в области создания и применения современных информационных технологий в сфере экономики и управления предприятием.
            Тематика предоставляемых статей должна соответствовать рубрикатору журнала
            (предполагаемый раздел рубрикатора указывается авторами):
        </p>
        <h5>ГРНТИ</h5>
        <ul>
            <li>06.00.00 — Экономические науки</li>
            <li>20.00.00 — Информатика</li>
            <li>28.00.00 — Кибернетика</li>
        </ul>

        <h5>ВАК</h5>
        <ul>
            <li>05.11.00 – Приборостроение, метрология и информационно-измерительные приборы и системы</li>
            <li>05.13.00 – Информатика, вычислительная техника и управление</li>
            <li>05.25.00 – Документальная информация</li>
            <li>08.00.00 – Экономические науки</li>
        </ul>
        <hr />
        <br />

        <h4> Предоставляемые документы </h4>
        <ul>
            <li>Статья предоставляется в виде одного файла формата MS Word (.doc, .docx).</li>
            <li>
                Сведения об авторах предоставляется в виде одного файла формата MS Word (.doc, .docx),
                в котором содержатся: фамилия, имя, отчество; ученая степень, ученое звание, почетные степени и звания,
                должность; место работы; электронный адрес; полное и сокращенное название организации,
                в которой выполнена работа.
            </li>
            <li>
                На статью рекомендуется предоставить рецензию: в электронном виде, а так же сканированный вариант
                с подписью компетентного специалиста (доктора или кандидата наук).
            </li>
        </ul>

        <br />
        <h4> Оформление статьи </h4>
        <p>Статья должна содержать (на русском и английском языках):</p>
        <ul>
            <li>индекс УДК</li>
            <li>название</li>
            <li>инициалы и фамилии авторов</li>
            <li> название организации, в которой выполнена работа </li>
            <li> аннотацию (до 5 строк) </li>
            <li> ключевые слова </li>
            <li> текст статьи (разрешается только на русском языке)</li>
            <li> список литературы (разрешается только на русском языке)</li>
        </ul>

        <p>
            Заголовок статьи должен полностью отражать ее содержание, а основной текст
            желательно структурировать с использованием подзаголовков, например:
        </p>
        <ul>
            <li>Введение</li>
            <li>Теоретический анализ</li>
            <li> Методика </li>
            <li> Экспериментальная часть </li>
            <li> Результаты </li>
            <li> Список литературы </li>
        </ul>

        <p>
            При наборе текста должен использоваться стандартный шрифт Times New Roman размера 14 пт.
            Одинарный интервал. Размер бумаги A4 (210*297 мм), книжная ориентация. Поля 20 мм со всех сторон.
        </p>

        <p>
            Таблицы и рисунки должны быть расположены по середине страницы.
            Буквенные и цифровые обозначения на рисунках, вставленных в статью, по начертанию и размеру должны
            соответствовать обозначениям в тексте статьи.
        </p>

        <p>
            Все иллюстрации сопровождаются подрисуночными подписями, включающими в себя номер, название
            иллюстрации и при необходимости — условные обозначения.
        </p>

        <p>Формулы должны выполняться во встроенном «Редакторе формул» и нумероваться справа в круглых скобках.</p>

        <p>
            Литературные ссылки по тексту статьи необходимо указывать в квадратных скобках,
            нумерация литературы должна быть произведена в порядке упоминания.
            Список литературы оформляется в соответствие с ГОСТ.
        </p>
        <br />

        <a class="btn btn-success" href="/Author/Create">Отправить статью в журнал</a>

        <hr />
        <h5>Несоответствие данным правилам может служить причиной отклонения статьи.</h5>
        <h5>По вопросам публикации материалов в журнале обращаться по E-mail: <a href="mailto:info@itue.ru">info@itue.ru</a></h5>
    </main>