@{
    ViewBag.Title = "Контакты";
}

<main class="container pt-4">


    <h4>Главный редактор: Рочев Константин Васильевич</h4>

    <address>
        Учредитель: ФГБОУ ВО «Ухтинский государственный технический университет»<br />
        Телефон: +7 (904) 109-83-18<br />
        Телефон редакции: +7 (8216) 700-308<br />
        Адрес: г. Ухта, ул. Первомайская, д. 13 Республика Коми, Российская Федерация, 169300<br />
    </address>

    <address>
        <strong>Сайт:</strong> <a href="https://itue.ru">itue.ru/</a><br />
        <strong>Email:</strong> <a href="mailto:info@itue.ru">info@itue.ru</a><br />
    </address>
</main>