@{
    ViewBag.Title = "Редакционная коллегия";
}

<main class="container">

    <div class="mt-4">
        <blockquote class="blockquote">
            <h5 class="mb-0">Рочев К. В.</h5>
            <footer class="blockquote-footer">
                канд. эконом. наук, доцент кафедры кафедры вычислительной техники,
                информационных систем и технологий УГТУ, главный редактор
            </footer>
        </blockquote>

        <blockquote class="blockquote">
            <h5 class="mb-0">Беляев Д. А.</h5>
            <footer class="blockquote-footer">
                кандидат экономических наук, президент Некоммерческого партнерства "ИТ-Ассоциация Республики Коми"
            </footer>
        </blockquote>

        <blockquote class="blockquote">
            <h5 class="mb-0">Дорогобед А. Н.</h5>
            <footer class="blockquote-footer">
                заведующий кафедрой вычислительной техники, информационных систем и технологий УГТУ
            </footer>
        </blockquote>

        <blockquote class="blockquote">
            <h5 class="mb-0">Каюков В. В.</h5>
            <footer class="blockquote-footer">
                доктор экономических наук, профессор кафедры менеджмента УГТУ
            </footer>
        </blockquote>

        <blockquote class="blockquote">
            <h5 class="mb-0">Кобрунов А. И.</h5>
            <footer class="blockquote-footer">
                доктор физ.-мат. наук, профессор кафедры кафедры вычислительной техники, информационных
                систем и технологий УГТУ, действительный член РАЕН, Заслуженный деятель науки РФ
            </footer>
        </blockquote>

        <blockquote class="blockquote">
            <h5 class="mb-0">Крестовских Т. С.</h5>
            <footer class="blockquote-footer">
                кандидат экономических наук, заведующий кафедрой менеджмента УГТУ
            </footer>
        </blockquote>

        <blockquote class="blockquote">
            <h5 class="mb-0">Куделин С. Г.</h5>
            <footer class="blockquote-footer">
                кандидат технических наук, инженер-программист EPAM Systems
            </footer>
        </blockquote>

        <blockquote class="blockquote">
            <h5 class="mb-0">Минцаев М. Ш.</h5>
            <footer class="blockquote-footer">
                доктор технических наук, ректор ГГНТУ имени акад. М. Д. Миллионщикова
            </footer>
        </blockquote>

        <blockquote class="blockquote">
            <h5 class="mb-0">Михайлюк О. Н.</h5>
            <footer class="blockquote-footer">
                доктор экономических наук, заведующий кафедрой финансов и кредита
                Уральского государственного горного университета
            </footer>
        </blockquote>

        <blockquote class="blockquote">
            <h5 class="mb-0">Назарова И. Г.</h5>
            <footer class="blockquote-footer">
                доктор экономических наук, заведующий кафедрой экономики УГТУ
            </footer>
        </blockquote>

        <blockquote class="blockquote">
            <h5 class="mb-0">Павловская А. В.</h5>
            <footer class="blockquote-footer">
                кандидат экономических наук, профессор кафедры менеджмента УГТУ
            </footer>
        </blockquote>

        <blockquote class="blockquote">
            <h5 class="mb-0">Садыкова Р. Ш.</h5>
            <footer class="blockquote-footer">
                доктор экономических наук, профессор, заведующий кафедрой экономики и управления предприятием, АГНИ
            </footer>
        </blockquote>

        <blockquote class="blockquote">
            <h5 class="mb-0">Семериков А. В.</h5>
            <footer class="blockquote-footer">
                кандидат технических наук, доцент кафедры кафедры вычислительной техники, информационных систем и технологий УГТУ
            </footer>
        </blockquote>

        <blockquote class="blockquote">
            <h5 class="mb-0">Смирнов Ю. Г.</h5>
            <footer class="blockquote-footer">
                кандидат физ.-мат. наук, доцент, заведующий кафедрой информатики, компьютерных технологий и инженерной графики УГТУ
            </footer>
        </blockquote>

    </div>
</main>